body{
	width: 960px;
	background-image: url("../images/background_3.png");
}
nav{
	width: 960px;
	float: left;
	margin: 0px 100px 0px 156px
}
section{
	background-color: white;
	margin: 40px 0px 40px 0px;
	padding: 0px 30px 40px 30px;
	float: left;
	border: 1px solid #dddddd;
	width: 600px;
}
aside{
	background-color: white;
	margin: 40px 0px 0px 0px;
	width: 240px;
	float: right;
	border: 1px solid #dddddd;
}
h3{
	font-family:"Georgia";
	font-size: 18px;
	font-weight: bold;
}
footer{
	border-top: 10px solid #4aaaa5;
	background-color: #666666;
	width: 1116px;
	height: 100px;
	float: left;
}
.portimg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 178px;
}
.portimg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.pageheader{
	width: 1116px;
	background-color: white;
	float: left;
	border-bottom: 2px solid #cccccc;
}
.container{
	width: 960px;
	margin: 0px 0px 0px 156px;
	float: left;
}
#leftnav{
	background-color: #4aaaa5;
	height: 85px;
	width: 240px;
	float: left;
}
#name{
	font-family:"Georgia";
	color: white;
	font-size: 26px;
	text-align: center;
	line-height: 85px;
	font-weight: bold;
}
#rightnav{
	background-color: white;
	height: 85px;
	width: 720px;
	float: left;
}
#linkpage{
	width: 240px;
	float: right;
	font-family:"Georgia";
	text-align: center;
}
.pages{
	color: grey;
	text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 30px 0px 30px 0px;
    padding: 0px 5px 0px 5px;
    border-right: 1px solid #E8E8E8;
}
#lastpage{
	border-right: none;
}
.pages:hover { 
    background-color: #F5F5F5;
}
.connect{
	color: #4aaaa5;
	text-align: center; 
    /*margin: 30px 0px 30px 0px;*/
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid #E8E8E8;
}
.connecturl{
	padding: 20px 20px 20px 20px;
}
.nodec{
	text-decoration: none;
}
.maintitle{
	font-family:"Georgia";
	color: #4aaaa5;
	font-size: 26px;
	padding: 30px 0px 20px 0px;
	font-weight: bold;
}
.maintitlebox{
	border-bottom: 2px solid #cccccc;
}
.copyright{
	font-family:"Georgia";
	text-align: center;
	line-height: 100px;
	color: #BEBEBE; 
}
.profile{
	float: left;
	margin: 0px 20px 10px 0px;
	height: 150px;
	width: 200 px;
}
.content{
	margin: 20px 20px 20px 0px;
	font-family:"Georgia";
	color: grey; 
	float: left;
}
#bio{
	line-height: 2.0em;
	margin-bottom: 20px;
}
.textbox{
	margin-bottom: 10px;
	padding: 5px;
	width: 600px;
}
#messagebox{
	height: 200px;
}
.btnSubmit{
	background-color: #4aaaa5;
	font-family:"Georgia";
	color: white;
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

@media screen and (max-width: 980px){

	body{
		width: 980px;
	}

	.container{
		width: 750px;
		margin: 0px 0px 0px 130px;
	}

	nav{
		width: 850px;
		margin: 0px 0px 0px 130px
	}

	#rightnav{
		width: 510px;
	}

	.pageheader{
		width: 980px;
	}

	.profile{
		height: 100%;
		width: 100%;
	}

	.content{
		margin: 30px 0px 20px 0px;

	}

	section{
		padding: 0px 30px 40px 30px;
		width: 418px;
	}

	footer{
		width: 980px;
	}

	.textbox{
		margin-bottom: 10px;
		padding: 5px;
		width: 400px;
	}

	#messagebox{
		height: 200px;
	}

	.portimg {
    	width: 100%;
	}
}

@media screen and (max-width: 768px){

	body{
		width: 768px;
	}

	.container{
		width: 730px;
		margin: 0px 20px 0px 20px;
	}

	nav{
		width: 750px;
		margin: 0px 0px 0px 20px
	}

	#rightnav{
		width: 505px;
	}

	.pageheader{
		width: 768px;
	}

	.profile{
		height: 250px;
		width: 330px;
	}

	.content{
		margin: 30px 0px 20px 0px;

	}

	section{
		padding: 0px 30px 40px 30px;
		width: 668px;
	}

	footer{
		width: 768px;
	}

	.textbox{
		margin-bottom: 10px;
		padding: 5px;
		width: 650px;
	}

	#messagebox{
		height: 200px;
	}

	.portimg {
    	width: 47%;
	}

	aside{
		width: 100%;
		margin: 0px 0px 40px 0px;
	}
	
}

@media screen and (max-width: 640px){
	
}